
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Noto Sans TC", '微軟正黑體', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-right: 10px;
}

.nav-list li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-list li a:hover {
    color: #b88440;
    border-left: 1px solid #b88440;
    border-right: 1px solid #b88440;
}
.cart-logo{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.authButton {
    background: #b79d7a;
    padding: 10px 25px;
    cursor: pointer;
    border: 0px;
    border-radius: 20px;
    font-weight: 700;
}

.authButton {
    background: #d8bb94;
}

.authButton a {
    color: #ffff;
    text-decoration: none;
}