.cafes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    overflow: hidden;
}

.cafes img {
    width: 500px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.cafes img:hover {
    transform: scale(1.2, 1.2);
}

.introduce {
    width: 40%;
}

.introduce h2 {
    margin: 10px;
    color: #6a5615;
    font-size: 24px;
    font-weight: bold;
}

.introduce p {
    margin: 10px;

}